<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>
<header id="top">
    <%- include('partials/navBar') -%>

</header>
<div class="view">
    <div class="homeBg">
        <div class="mask rgba-black-strong flex-center">
            <div class="container">
                <div class="row justify-content-center align-items-center" style="height: 100vh;">
                    <div class="col-lg-10 text-white">
                        <h1 class="display-3 animated fadeInDown">Node App Demo</h1>
                        <h2 class="animated fadeIn">Built with Css, JavaScript & MDB4</h2>
                        <a href="#explore" class="btn btn-outline-white rounded-right">Let's Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Main Layout-->
<main>
    <div class="container intro-space" id="explore">

        <%- include('parts/features') -%>

        <%- include('parts/carousel') -%>

        <%- include('parts/section1') -%>

        <%- include('parts/blogs-section') -%>

        <%- include('parts/contact-section') -%>

    </div>
</main>
<!--Main Layout-->

<%- include('partials/footer') -%>

<%- include('partials/scripts') -%>
</body>
</html>